.form-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  border: 1px solid #e4d9d9;
  border-radius: 8px;
  background-color: #f9f9f9;
}
.progress-bar {
  width: 100%;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
}

.progress {
  height: 10px;
  background-color: #4caf50;
  border-radius: 4px;
  transition: width 0.2s ease;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.message.success {
  color: green; 
  text-align: center;
}

.message.error {
  color: red; 
  text-align: center;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #f9f9f9;
}

.form-group label {
  font-weight: bold;
}

.form-group input[type="text"],
.form-group textarea,
.form-group input[type="file"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white; /* Set background color to white */
}

.addeventbutton {
  padding: 10px;
  font-size: 16px;
  background-color: #1894b7;
  color: white;
  border-radius: 5px;
  width: 250px;
  cursor: pointer;
}

.addeventbutton:hover {
  background-color: #1fea1b;
}
