.home-row
{
    border: 1px solid #ccc; 
    border-radius: 20px; 
    color: black;
    padding :20px;
}
.prayer-timings{
    font-size: 1.3em;
}
.home-heading
{
    font-family: "Playfair Display", serif;
    font-size: 1em;
}
.prayer-heading
{
    font-family: "Domine", serif; 
}
.heading
{
    color:#005B41;
}
@media (max-width: 1000px){
   .prayer-timings{
    font-size: 1em;
   }
}
@keyframes slideFromLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slide-from-left {
    animation: slideFromLeft 1s ease forwards;
  }

  @keyframes slideFromRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slide-from-right {
    animation: slideFromRight 5s ease forwards;
  }