.church-location-img {
  width: 300px; 
  height: auto; 
  border-radius: 8px; 
  display: block;
  margin-top: 10px; 
}
.right-image {
  max-width: 200px;
  max-height: 240px;
  width: 100%; 
  height: auto; 
  margin: 10px;
  float: right; 
  margin-left: 15px; 
}
