.eventcard
{
    min-height: 370px;
}
.eventname
{
    color: rgb(161, 18, 128);
    font-weight:500;
}
.container.with-add-event-button .row:first-child {
  margin-top: 70px; /* Adjust to your preference */
}
.marginht
{
  margin-top: 140px;
}
/* Events.css */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.modal-dialog {
  margin: 5% auto;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  margin: 0;
}

.eventimg {
    width: auto;
    max-height: 170px; 
    min-height: 170px;
    border-radius: 5px; 
   }
   .viewgallerybtn {
    display: flex;
    justify-content: center; 
}
.deletebtn
{
  font-size: 100px;
}
.loading {
  display: flex;
  justify-content: center;
  color: blue; 
  font-size: 1.5rem; 
  font-weight: bold;
}

.color
{
    color: aqua;
}
@media (max-width: 570px) {
    .eventimg
    {
      width: 40%;
      min-height: 300px;
    }
    
  }
  
  @media (max-width: 430px) {
    .eventimg
    {
      width: 100%;
      min-height: 100px;
    }
    
  }
  