.eventcard
{
    min-height: 370px;
}
.eventname
{
    color: rgb(161, 18, 128);
    font-weight:500;
}
.card-img {
    width: 100%;
    height: 200px; 
    border-radius: 5px; 
  }
.color
{
    color: aqua;
}
@media (max-width:400px)
{
    .card-img{
        height: 100px;
    }
}