.galleryimg {
    width: 100%;
    height: 300px; /* Set a fixed height */
   
    border-radius: 5px;
  }
@media (max-width:570px)
{
    .galleryimg
    {
        width:50%;
        
    }
    .gallerycol
    {
        text-align: center;
    }
}