.english{
  font-size: 1.2rem;
  text-align: justify;
  font-family: "Karla", sans-serif;
}
.telugu
{
  font-family: "Tenali Ramakrishna", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: left;
}
.sub-heading
{
  font-family: "Domine", serif;
}