.english{
  font-size: 1.2rem;
  text-align: justify;
  font-family: "Karla", sans-serif;
}
.telugu
{
  font-family: "Tenali Ramakrishna", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  text-align: left;
}

.shadowbox{
  box-shadow: 0px 0px 4px !important;
}
.sub-heading
{
  font-family: "Domine", serif;
}