h2 {
    text-align: center;
    color: #333;
  }
  
  table {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  thead {
    background-color: #007bff;
    color: #fff;
    text-align: center;
  }
  
  th, td {
    padding: 12px 15px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  tbody tr {
    background-color: #f9f9f9;
  }
  
  tbody tr:hover {
    background-color: #f1f1f1;
  }
  
 .restorebtn {
    background-color: #10ee44;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }
  
 